@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container classe1 my-5">
    <div class="col-md-12">
        <div class="row">
            <section>
                <form method="post">
                    <h2 class="text-center"><i class="bi bi-camera-reels"></i></h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-50 btn btn-lg btn-primary">Avanti</button>
                </form>
            </section>
        </div>
    </div>
</div>

<style>
    .classe1 {
        border-radius: 34px;
        background: #edf2f4;
        box-shadow: 20px 20px 100px #9da8bc, -20px -20px 100px #ffffff;
        padding: 30px;
        width: 50%;
        display: block;
        margin: auto;
        text-align:center;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
