@model int
@{

    ViewData["Title"] = "Actions";
}

<div class="container">
    <h2 class="my-2">Prenotazione effettuata con successo!</h2>
    <button class="btn btn-primary" asp-action="IndexUtente" asp-controller="Prenotazione">Paga in cassa</button>
    <button>Paga online</button>
</div>
 