@model Cinema.Models.VM.PrenotazioneVM
@{
    ViewData["Title"] = "Upsert";
    List<int> numeroPrenotati = new List<int>();
    if (Model.Prenotati is not null)
    {
        numeroPrenotati = Model.Prenotati.Select(p => p.Numero).ToList();
    }
}

<form method="post" asp-area="Admin" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="p.DataS" hidden />
    <input asp-for="p.OraS" hidden />
    <input asp-for="p.IdSala" hidden />
    <input asp-for="p.IdUtente" hidden />
    <input asp-for="Selezionati" hidden />
    <input asp-for="fileSala" hidden />
    <input asp-for="postiSala" hidden />
    <input asp-for="p.Id" hidden />
    <div class="container my-2">
        <h2>Prenota i tuoi posti</h2>
    </div>
    <div class="container sfondo my-3 text-center">
        <div class="schermo w-75 my-2">
            <p>SCHERMO</p>
        </div>
        @for (int f = 1; f <= Model.fileSala; f++)
        {
                <div class="col-12">
                    @for (int c = 1; c <= (Model.postiSala / Model.fileSala); c++)
                    {
                        int num = c + (f - 1) * (Model.postiSala / Model.fileSala);
                        if (numeroPrenotati.Contains(num))
                        {
                            if (Model.Selezionati.Contains(num.ToString()))
                            {
                                <i id=@("postoSemplice"+num.ToString()) class="bi bi-person-fill-check" style="color: #bee9e8" onclick="Seleziona(@num)"></i>
                            }
                            else
                            {
                                <i class="bi bi-person-fill-slash" style="color: #e63946"></i>
                            }

                        }
                        else
                        {
                            <i id=@("postoSemplice"+num.ToString()) class="bi bi-person-fill-add" style="color: #0ead69" onclick="Seleziona(@num)"></i>
                        }
                    }
                </div>
            <br />
        }
    </div>
    <div class="container">
        <button type="submit" asp-controller="Prenotazione" asp-action="Upsert" class="btn btn-primary my-2" style="width: 150px;margin:0,5%">Conferma</button>
        <a href="/" class="btn btn-secondary my-2" style="width:150px">
            Back to List
        </a>
    </div>
    @Html.HiddenFor(x => x.Selezionati, new { @id = "selezionati" })
</form>
<style>
    .sfondo {
        border-radius: 16px;
        background: #0d1b2a;
        padding: 5px;
    }
    .schermo {
        border-radius: 105px;
        background: #ffffff;
        display: block;
        margin: auto;
    }
</style>
<script>
    const numArray = new Array();
    let test = true;

    function CaricaArray() {
        var obj = document.querySelectorAll(".bi-person-fill-check");
        console.log(obj);
        for (let i = 0; i < obj.length; i++) {
            var id = parseInt(obj[i].id.replace("postoSemplice", ""))
            numArray.push(id)
            console.log(obj[i])
            console.log(obj[i].id)
        }
        console.log(numArray);
    }

    function Seleziona(id) {
        if (test) {
            CaricaArray();
            test = false;
        }

        idDoc = "postoSemplice" + id
        if (document.getElementById(idDoc).classList.contains("bi-person-fill-add")) {
            if (numArray.length < 4) {
                document.getElementById(idDoc).classList.remove("bi-person-fill-add");
                document.getElementById(idDoc).classList.add("bi-person-fill-check");
                document.getElementById(idDoc).style.color = "#bee9e8";
                numArray.push(id);
                var myJsonString = JSON.stringify(numArray);
                document.getElementById('selezionati').value = myJsonString;
            }
        }
        else {
            document.getElementById(idDoc).classList.remove("bi-person-fill-check");
            document.getElementById(idDoc).classList.add("bi-person-fill-add");
            document.getElementById(idDoc).style.color = "#0ead69";
            removeItemOnce(numArray, id);
            var myJsonString = JSON.stringify(numArray);
            document.getElementById('selezionati').value = myJsonString;
        }
    }

    function removeItemOnce(arr, value) {
        var index = arr.indexOf(value);
        if (index > -1) {
            arr.splice(index, 1);
        }
        return arr;
    }
</script>