h1 {
    font-family: 'Secular One', sans-serif;
}

.carousel-control.left.right {
    top: 33%;
    color: black;
}

.slide {
    height: inherit !important;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: gray;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

img.card-img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border: none;
    border-radius: 5px !important;
}

#upcoming {
    border: none !important;
    border-color: none !important;
    display: block;
    margin: auto;
}

.card.card-img {
    border: none !important;
    border-color: none !important;
    display: flex;
    border-radius:5px !important;
}

.card-immagine {
    opacity:1 !important;
}