@{
    ViewData["Title"] = "Incassi Giornalieri";
}
<div class="row">
    <h2>Incassi Giornalieri</h2>
</div>
<br />

<div class="row">
    <div class="col-4 leftcolum">
        <label>Per che giorno vuoi cercare?</label>
        <input id="dataValue" type="date" placeholder="@DateTime.Today.Date" class="form-control w-100" />
        <button onclick="Grafico()" class="btn btn-primary mt-1">Cerca</button>
    </div>
    <div class="col-8 rightcolumn">
        <div style="display:block;margin:auto">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>



<script src="~/js/IncassiGiornalieri.js"></script>
