@{
    ViewData["Title"] = "Prenotazioni per sala";
}
<div class="row">
    <h2>Prenotazioni per sala</h2>
</div>
<br />

<div class="row">
    <div style="display:block;margin:auto;width:80%">
        <canvas id="myChart"></canvas>
    </div>
</div>


<script src="~/js/PrenotazioniPerSala.js"></script>